* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container img {
    max-width: 100%;
    height: auto;
}

/* Style pour le bouton de connexion */
#connect-wallet-btn {
    display: block;
    margin: 20px auto; /* Centrer le bouton */
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f7931a; /* Couleur Bitcoin */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/* Changer la couleur au survol */
#connect-wallet-btn:hover {
    background-color: #d67d0f;
}

